.buttons {
    float: left;
    display: flex;
    flex-direction: column;
}

.fa-trash-o:hover {
    color: $green;
}

.fa-pencil:hover {
    color: $green;
}

.fa-star:hover {
    color: $green;
}

.fa-search-plus:hover {
    color: $green;
}

#contacts {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px;
}

.contactcard {
    border: 2px solid white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 16px;
    width: 250px;
    height: 370px;
    margin: 5px;
    background-color: $green;
    -webkit-box-shadow: 6px 7px 14px 0px rgba(52, 50, 50, 0.39);
    -moz-box-shadow:    6px 7px 14px 0px rgba(52, 50, 50, 0.39);
    box-shadow:         6px 7px 14px 0px rgba(52, 50, 50, 0.39);
}
