
#newContactForm {
	background-color: $lightblue;
	border-radius: 15px;
}


input {
	padding: 20px;
	width: 20%;
	margin: 2%;
	border-radius: 8px;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
  width: 100px;
  font-size: 13px;
}

#submitButton {
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #f0f0f0;
  font-size: 19px;
  background: #48D1CC;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin: 10px;
  width: 40%;
}

.submitButton {
  background: #4eafcc;
  background-image: -webkit-linear-gradient(top, #4eafcc, #48D1CC);
  background-image: -moz-linear-gradient(top, #4eafcc, #48D1CC);
  background-image: -ms-linear-gradient(top, #4eafcc, #48D1CC);
  background-image: -o-linear-gradient(top, #4eafcc, #48D1CC);
  background-image: linear-gradient(to bottom, #4eafcc, #48D1CC);
  text-decoration: none;
}

.newcontactspage {
  width: 50%;
  margin: 0 auto;
  background-color: $newcontactsbackground;
  padding: 40px;
  border-radius: 13%;
}

