@import 'colors';
@import 'form';
@import 'fontsizefamily';
@import 'images';
@import 'contactcard';
@import 'details';
@import 'navbar';
@import 'favorites';

body{
    background-color: $background;
    font-family: $titleFont;
}

p {
    font-size: 20px;
}