<div class="text-center" id="contactsview" ng-controller="ViewCtrl">
	<h1>Contact Details</h1>
	<div id="details">
    	<div class="contact">
            <div class="detailbuttons">
                <button class="btn btn-default favorite" ng-click="changeFavorite(contact)">Favorite <i ng-class="{'fa fa-star fa-3x': contact.favorite, 'fa fa-star-o fa-3x': !contact.favorite}"></i></button>
            </div>
       		<div class="detailcard">
               <div class="image-cropper">
               <img class="contact-image" src="{{contact.img}}">
               </div>
               <p class="firstName">{{contact.firstName}} {{contact.lastName}}</p>
				<p class="nickname">Nickname: {{contact.nickname}}</p>
				<p class="streetAddress">Street Address: {{contact.streetAddress}}</p>
				<p class="city">City, State, Zip: {{contact.city}}, {{contact.state}} {{contact.zip}}</p>
				<p class="phoneNumber">Phone Number: {{contact.phoneNumber}}</p>
				<p class="email">Email: {{contact.email}}</p>
                <p class="birthday">Birthday: {{contact.birthday}}</p>
        	</div>
      	</div>
    </div>
</div>