<div class="text-center" id="contactsfavorites" ng-controller="FavoritesCtrl">
	<h1>Favorites</h1>
	<div id="faves">
    	<div ng-repeat="favorite in favorites" class="col-sm-6 col-md-4 favorite">
       		<div class="contactcard">
			   <button class="btn btn-default delete" ng-click="deleteContactFromFirebase(favorite.id)">X</button>
			   <button class="btn btn-default favorite" ng-click="changeFavorite(contact)"><i ng-class="{'fa fa-star': favorite.favorite, 'fa fa-star-o': !favorite.favorite}"></i></button>
           		<p class="firstName">First Name: {{favorite.firstName}}</p>
				<p class="lastName">Last Name: {{favorite.lastName}}</p>
				<p class="nickname">Nickname: {{favorite.nickname}}</p>
				<p class="streetAddress">Street Address: {{favorite.streetAddress}}</p>
				<p class="city">City: {{favorite.city}}</p>
				<p class="state">State: {{favorite.state}}</p>
				<p class="zip">Zip: {{favorite.zip}}</p>
				<p class="phoneNumber">Phone Number: {{favorite.phoneNumber}}</p>
				<p class="email">Email: {{favorite.email}}</p>
				<p class="birthday">Birthday: {{favorite.birthday}}</p>
        	</div>
      	</div>
    </div>
</div>